html {
  height: 100%;
}

.divider {
  margin: 10px;
}

#highestFlex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#highestFlexItem {
  display: flex;
  align-items: space-around;
  flex-direction: column;
}

.data ul li {
  margin-top: 3px;
}
